.hero {
  .btn-container {
    text-align: center;
    padding: $std-padding 0;
  }
  .btn {
    border: 0;
    background: white;
    color: black;
    margin: 0 auto;
    padding: $std-padding;
    border-radius: 18px;
    position: relative;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      transform: rotate(45deg);
      display: inline-block;
      width: 10px;
      height: 10px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      left: -10px;
      top: 50%;
    }
  }
}
