.home-contact {
  background: white;
  color: $dc;

  padding-bottom: 24px;

  .btn-container {
    text-align: right;
  }

  .btn {
    background: black;
    color: white;
    &:after {
      border-color: white;
    }
  }
}
