.training-page {
  $training-number-bg-size: 30px;

  $colors: (
    ( background: $primary,
      color:      $primary-fg
    ),
    ( background: $e,
      color:      $e-fg
    ),
    ( background: $secondary,
      color:      $secondary-fg
    ),
    ( background: $dc,
      color:      $dc-fg
    ),
  );

  @for $i from 1 to length($colors) + 1 {
    $theme: nth($colors, $i);
    .training-#{$i} {
      background: map-get($theme, background);
      color: map-get($theme, color);
      .training-number {
        background: map-get($theme, color);
        color: map-get($theme, background);

        border-radius: $training-number-bg-size / 2;
        height: $training-number-bg-size;
        width: $training-number-bg-size;
        font-size: 24px;
        line-height: $training-number-bg-size;
        text-align: center;
        margin: 15px auto 0;
      }
    }
  }

  .training-number-container {
    text-align: center;
  }

  h2 {
    margin-top: 15px;
  }
}
