<div class="home-community hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h3>LongData is a Group of<br>Volunteer Industry Experts<br>Working Together to Provide</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div><img src="http://placehold.it/300x300" alt=""></div>
        <h4>Training</h4>
        <h5>TODO: Subtitle</h5>

        <p>LongData's industry experts have come together to build a training series designed to help teach
        developers how to develop systems utilizing the LoRaWAN network we've established</p>

        <a class="btn" href="/training/">Learn More</a>
      </div>
      <div class="col-sm-4">
        <div><img src="http://placehold.it/300x300" alt=""></div>
        <h4>Prototyping</h4>
        <h5>TODO: Subtitle</h5>

        <p></p>

        <a class="btn">Learn More</a>
      </div>
      <div class="col-sm-4">
        <div><img src="http://placehold.it/300x300" alt=""></div>
        <h4>Marketing</h4>
        <h5>TODO: Subtitle</h5>

        <p></p>

        <a class="btn">Learn&nbsp;More</a>
      </div>
    </div>
  </div>
</div>
