<div id="contact" class="home-contact hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Contact Us</h2>
        <p>LongData is always looking for volunteers to help expand our offerings as well as people to provide
        our services to.</p>
        <form class="container" method="POST" action="https://formspree.io/jkerg@arrow.com">
          <input type="text" name="_gotcha" style="display:none" />
          <div class="row">
            <div class="col-xs-6">
              {% include components/input.html id='contact-us-name-field' label='Your Name' name='name' %}
            </div>
            <div class="col-xs-6">
              {% include components/input.html id='contact-us-email-field' label='Your Email' name='email' %}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              {% include components/input.html id='contact-us-subject-field' label='Subject' name='subject' %}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <br>
              <textarea name="message" id="contact-us-message-field" placeholder="Your Message" style="width:100%;height:220px"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="btn-container">
                <button class="btn" type="submit">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
