<div class="home-main hero">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-6 col-sm-6 col-sm-offset-3">
        <div class="content">
          <div>
            With LoRaWAN gateways strategically located at the <u>University of Akron</u> and <u>Case Western Reserve
            University</u>, we can serve the local cottage industry of developers in Northern Ohio.
            <div class="btn-container">
              <a class="btn" href="{{ site.baseurl }}/about/what-is-lora/">Learn more about LoRaWAN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
